<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img class="landscape" src="/img/pic.jpg" />
      <img class="portrait" src="img/jerry.gif" />
      <img class="portrait" src="img/morty.webp" />
      <p>This app is created by {{name}}. It uses location data from Mapbox.com and weather data from Weatherstack.com. </p>
    </div>
    
    {{>footer}}
  </body>
</html>